# top level
root = true

# utf-8, unix line endings, final nls, clean whitespace - the One True Way
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

# 8-char hard tabs - also the One True Way
[*.{c,h}]
indent_style = tab
tab_width = 8
